.vehiculeAddForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.vehiculeAddForm-full-with {
    width: 100%;
}

.vehiculeAdd {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
