.vehiculeEditForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.vehiculeEditForm-full-with {
    width: 100%;
}

.vehiculeEdit {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
