.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}
  
.map-frame {
    border: 2px solid black;
    height: 100%;
}
  
#map {
    height: 100%;
}

.recapBox {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 15px;
}

.recapItem {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.hours {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}