<div ngClass="container-userCreateModal">
    <div ngClass="container-title-userCreateModal">
        <h1 ngClass="title-userCreateModal">Création d'un nouvel utilisateur</h1>
    </div>

    <div ngClass="content-userCreateModal">
        <div ngClass="container-input-userCreateModal">
            <mat-form-field ngClass="content-input-userCreateModal">
                <mat-label ngClass="title-input-userCreateModal">Entreprise</mat-label>
                <mat-select ngClass="container-selectInput-userCreateModal">
                    <mat-option ngClass="option-selectInput-userCreateModal" *ngFor="let entreprise of entreprises"
                        [value]="entreprise">
                        {{entreprise.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div ngClass="container-input-userCreateModal">
            <mat-form-field ngClass="content-input-userCreateModal">
                <mat-label ngClass="title-input-userCreateModal">Rôles</mat-label>
                <mat-select ngClass="container-selectInput-userCreateModal" placeholder="Sélectionnez" [(value)]="roles"
                    multiple [required]="true">
                    <mat-option ngClass="option-selectInput-userCreateModal" *ngFor="let role of rolesList"
                        [value]="role">{{ role }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div ngClass="container-input-userCreateModal">
            <mat-form-field ngClass="content-input-userCreateModal">
                <mat-label ngClass="title-input-userCreateModal">Nom</mat-label>
                <input matInput ngClass="input-userCreateModal" placeholder="Ex. Pierre" [(ngModel)]="name" name="name"
                    [required]="true">
            </mat-form-field>
        </div>

        <div ngClass="container-input-userCreateModal">
            <mat-form-field ngClass="content-input-userCreateModal">
                <mat-label ngClass="title-input-userCreateModal">Email</mat-label>
                <input matInput ngClass="input-userCreateModal" placeholder="Ex. Pierre@mail.com" [(ngModel)]="email"
                    name="email" #emailField="ngModel" [required]="true">
            </mat-form-field>
            <!-- <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)">
                <mat-error *ngIf="emailField.errors?.['required']">L'email est requis.</mat-error>
                <mat-error *ngIf="emailField.errors?.['email']">L'email n'est pas valide.</mat-error>
            </div> -->
        </div>

        <div ngClass="container-button-userCreateModal">
            <button ngClass="cancel button-userCreateModal" mat-raised-button color="warn"
                (click)="close()">Annuler</button>
            <button ngClass="validate button-userCreateModal" mat-raised-button color="primary"
                (click)="createUser()">Valider</button>
        </div>
    </div>
</div>