.NavBar {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 0 10px #000000;
}

input {
    border-radius: 15px;
    padding: 0 15px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    cursor: pointer;
}

.contentCenter {
    display: flex;
    align-items: center;

}

.logout {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
    top: 70px;
    background-color: #fff;
    border: black solid 1px;
    border-radius: 13px;
    right: 0px;
    height: 150px;
    width: 150px;

    cursor: pointer;
}

.contentBox {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    cursor: pointer;
    &:hover > h2 {
        text-decoration: underline;
    }
    &:hover > img {
        scale: 1.1;
    }
    img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    h2 {
        font-family: poppins;
        font-size: 20px;
        font-weight: 900;
        color: #1A8C8A;
        margin: 0;
    }
}


.boxProfile {
    display: flex;
    align-items: center;
}

.contentAll {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
}

.contentInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 100%;
    border-right: #000000 solid 1px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: poppins;
    font-size: 15px;
    font-weight: 900;
    color: #1A8C8A;
    margin-bottom: 10px;
}

.text {
    font-family: poppins;
    font-size: 25px;
    font-weight: 900;
    color: #000000;
    height: 30px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.logoutButton {
    cursor: pointer;
    width: 60%;
    padding: 10px 20px;
    text-align: center;
    background-color: #1A8C8A;
    margin-bottom: 30px;
    border-radius: 13px;
    color: #fff;
    h2 {
        font-family: poppins;
        font-size: 25px;
        font-weight: 900;
        color: #fff;
        margin: 0;
    }
    &:hover {
        scale: 1.01;
    }
}

.picture {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: #88D9D8;
    align-items: center;
    justify-content: center;
    padding: 10px;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.updatePassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-right: #000000 solid 1px;
    padding-top: 20px;
}

.password {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.buttonValidation {
    cursor: pointer;
    width: 40%;
    padding: 10px 20px;
    text-align: center;
    background-color: #1A8C8A;
    margin-bottom: 30px;
    border-radius: 13px;
    h2 {
        font-family: poppins;
        font-size: 25px;
        font-weight: 900;
        color: #fff;
        margin: 0;
    }
    &:hover {
        scale: 1.01;
    }
}
.titleMdp {
    color: #1A8C8A;
    font-family: poppins;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.titleEM {
    color: #1A8C8A;
    font-family: poppins;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 15px 15px 5px 15px;
    margin: 0;
}

.listEmpoye {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.contentBoxEmploye {
    border: #000000 solid 1px;
    border-radius: 15px;
}

.line {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000000;
}

.contentEm {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
    align-items: center;
    min-height: 150px;
    h2 {
        font-family: poppins;
        font-size: 25px;
        font-weight: 900;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.transp {
    opacity: 0.3;
}

.nom {
    width: 100%;
}

.desc {
    border: #000000 solid 1px;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    width: 90%;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000031;
}

.contenModal {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: 200px;
    width: 20%;
    height: 40%;
    border: #000000 solid 1px;
    border-radius: 15px;
    background-color: #fff;
}

.contentButton {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
}